<div class="abrir-modal animacion fadeIn" *ngIf="modalService.modal">
    <div class="modal" tabindex="-1" role="dialog" style="display: block;">
      <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">{{ titulo }}</h5>
            <button (click)="cerrarModal()" type="button" class="close" data-dismiss="modal" aria-label="Close">
                   <i class="fas fa-window-close"></i>
            </button>
          </div>
          <div class="modal-body">
              <div class="row">
                <div class="col-md-6">
                  <div class="text-center">
                    <img *ngIf="producto?.foto"
                    src="http://localhost:8080/sitiapp/productos/uploads/img/{{ producto?.foto }}" alt="Foto perfil"
                    class="img-thumbnail img-fluid rounded fotoperfil">
                    <img *ngIf="!producto?.foto"
                    src="http://localhost:8080/images/no-image.png" alt="Foto perfil"
                    class="rounded fotoperfil img-fluid">
                  </div>

                  <div *ngIf="authService.tienePerfil('ROLE_ADMIN')">
                    <div *ngIf="progreso>0" class="progress" style="height: 20px;">
                      <div class="progress-bar progress-bar-striped" role="progressbar" [ngStyle]="{width:progreso+'%'}"
                        attr.aria-valuenow="{{ progreso }}" attr.aria-valuemin="0" aria-valuemax="100">
                        {{ progreso }}%
                      </div>
                    </div>
                    <div class="input-group">
                      <div class="custom-file">
                        <input (change)="seleccionarFoto($event)" type="file" class="custom-file-input">
                        <label class="custom-file-label">{{ labelinputfoto }}</label>
                      </div>
                      <div class="input-group-append">
                        <button (click)="subirFoto()" [disabled]="!fotoSeleccionada" class="btn btn-success"
                          type="button"><i class="fas fa-image"></i> Subir foto</button>
                      </div>
                    </div>
  
                  </div>
  
              </div>
               <div class="col-md-6 mt-5">
  
                  <ul class="list-group mb-3 mt-3">
                    <li class="list-group-item active">{{ producto?.nombre }}</li>
                    <li class="list-group-item"> <span>Código: </span> {{ producto?.id }}</li>
                    <li class="list-group-item"><span>Precio: </span> {{ producto?.valor_unitario }}</li>
                    <li class="list-group-item"><span>Estado: </span> {{ producto?.estado}}</li>
                  </ul>
                </div>
              </div>
          </div>
          <div class="modal-footer">
            <button (click)="cerrarModal()" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
