<div id="containercard">
<div class="d-flex justify-content-end">
  <a [routerLink]="['/clientes']" class="btnvolver btn btn-light d-flex justify-content-end">&laquo; Volver</a>
</div>

<div class="card mt-1">
  <div *ngIf="!bandeditar" class="card-header">Crear Cliente</div>
  <div *ngIf="bandeditar" class="card-header">Editar Cliente</div>
  
  <div class="card-body">
    <form [formGroup]="form">
      <!-- Nombre y Apellido -->
      <div class="row">
        <div class="col-md-12">
          <label for="razon">Razon Social <span>(*)</span></label>
          <input type="text" name="razon" class="form-control" formControlName="razon" [ngClass]="{ 'is-invalid': submitted &&f.razon.errors }">
          
          <div *ngIf="submitted && f.razon.errors" class="invalid-feedback">
            <div *ngIf="f.razon.errors.required">Campo requerido</div>
          </div>
          
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <label for="identificacion">Identificacion <span>(*)</span></label>
          <input type="text" name="identificacion" class="form-control" formControlName="identificacion" [ngClass]="{ 'is-invalid': submitted &&f.identificacion.errors }">
          
          <div *ngIf="submitted && f.identificacion.errors" class="invalid-feedback">
            <div *ngIf="f.identificacion.errors.required">Campo requerido</div>
          </div>

        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <label>Tipo de Identificación <span>(*)</span></label>
          <select [compareWith]="compararTipoId" class="form-control" formControlName="tipoIdentificacion"  [ngClass]="{ 'is-invalid': submitted &&f.tipoIdentificacion.errors }">
            <option *ngFor="let tipoiden of tipoIdentificaciones" [ngValue]="tipoiden">{{tipoiden.descripcion}}</option>
          </select>
          <div *ngIf="submitted && f.tipoIdentificacion.errors" class="invalid-feedback">
            <div *ngIf="f.tipoIdentificacion.errors.required">Campo requerido</div>
          </div>
        </div>
      </div>


      <div class="row mt-4">
        <div class="col-md-4"></div>
        <div class="col-md-4 d-flex justify-content-center">
          <button *ngIf="!cliente.id else elseBlock " (click)="create()" type="submit"
            class="btn  btn-primary rounded btnsubmit" [disabled]="subiendoDatos"><i class="fas fa-save"></i> Enviar Datos
          </button>
          <ng-template #elseBlock>
            <button (click)="update()" type="submit"
              class="btn btn-primary rounded btnsubmit" [disabled]="subiendoDatos"><i class="fas fa-save"></i> Editar Datos
            </button>
          </ng-template>
          <!-- <mat-spinner class="spinner mt-1" *ngIf="cargando" [diameter]="50"></mat-spinner> -->
        </div>
        <div class="col-md-4"></div>
      </div>


    </form>
  </div>
</div>
</div>