<app-detalle *ngIf="clienteSeleccionado" [cliente]="clienteSeleccionado"></app-detalle>


<div class="card border-primary mb-3">
  <!-- <div class="card-header">{{ entidad }}</div> -->
  <div class="card-body text-primary">
    <h5 class="card-title">Listado de {{ entidad }}</h5>
    <!-- *ngIf="authService.tienePerfil('ROLE_ADMIN')"  -->
    <button *ngIf="authService.tienePerfil('ROLE_ADMIN')"  type="button" [routerLink]="['/crearClientes/']"  class="btn btn-primary"><i class="fas fa-user-plus"></i> Crear {{ entidad }}</button>
   <div *ngIf="clientes?.length == 0" class="mt-2 alert alert-info">
       No hay registros en la base de datos
   </div>
   <div class="row">
    <div class="col-md-12">
     <div class="input-group mt-3">
        <input [(ngModel)]='nombreClienteBuscar' type="text" class="form-control" placeholder="Buscar el cliente por su nombre" aria-label="Recipient's username" aria-describedby="basic-addon2">
        <div class="input-group-append">
          <button (click)="activarPaginacionBusqueda()" class="btn btn-outline-secondary" type="button">Buscar</button>
        </div>
       </div>
    </div>
  </div>

   <div class="table-responsive">
    <table *ngIf="clientes?.length!>0" class="table table-bordered table-striped mt-4">
      <thead>
        <tr class="text-center">
          <th>Perfil</th>
          <th>Tipo de Identificación</th>
          <th>Identificación</th>
          <th>Razon Social</th>
          <th>Fecha de Creación</th>
          <th>crear factura</th>
          <th *ngIf="authService.tienePerfil('ROLE_ADMIN')">
            Editar
          </th>
          <!-- <th *ngIf="authService.tienePerfil('ROLE_ADMIN')">
            Eliminar
          </th> -->
          <!-- <th>usuario</th>
          <th>contrasena</th> -->
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cliente of clientes">
          <td class="text-center">
            <img *ngIf="cliente?.foto"
             (click)="abrirModal(cliente)" src="http://localhost:8080/sitiapp/clientes/uploads/img/{{ cliente?.foto }}" 
             alt="Foto perfil" class="img-thumbnail rounded"  
             style="width: 64px; cursor: pointer;"
             >

             <img *ngIf="!cliente?.foto"
             (click)="abrirModal(cliente)" src="http://localhost:8080/images/no-image.png" 
             alt="sin foto" class="img-thumbnail rounded"  
             style="width: 64px; cursor: pointer;"
             >
            </td>
          <td>{{ cliente.tipo_identificacion?.abreviatura}}</td>
          <td>{{ cliente.identificacion}}</td>
          <td>{{ cliente.razon_social}}</td>
          <td>{{ cliente.fecha_registro}}</td>
          <td class="text-center"> <button type="button" class="btn btn-success" [routerLink]="['/facturas/form/',cliente.id]"><i class="fas fa-plus-square pr-2"></i>crear factura</button></td>
          <td class="text-center" *ngIf="authService.tienePerfil('ROLE_ADMIN')">
            <button type="button" [routerLink]="['/editClientes/',cliente.id]" class="btn btn-primary"><i class="fas fa-edit"></i></button>
          </td>
          <!-- <td class="text-center" *ngIf="authService.tienePerfil('ROLE_ADMIN')">
            <button type="button" (click)='delete(cliente)'  class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
          </td> -->
      </tbody>
    </table>
    <span>Número de registros: {{ paginador?.totalElements }}</span>
    <app-paginator *ngIf="paginador && bandmostrarpaginacion==true" [paginador]="paginador" [entidad]="'/clientes/page'" [term]="paramNombrebuscado"></app-paginator>
   </div>
  </div>
</div>

