<ul *ngIf="paginas?.length!>0" class="pagination">

    <!-- atras -->
    <li class="page-item" *ngIf="paginador.number > 0">
      <a class="page-link" [routerLink]="[entidad, paginador.number-1,term]">&laquo;</a>
    </li>
    <!-- primera pagina -->
    <li [ngClass]="paginador.first? 'disabled page-item': 'page-item'">
      <a class="page-link" [routerLink]="[entidad, 0,term]">Primera</a>
    </li>
    
    <li *ngFor="let pagina of paginas" [ngClass]="pagina-1 == paginador.number? 'page-item active':'page-item'">
      <span class="page-link" *ngIf="pagina-1 == paginador.number">{{pagina}}</span>
      <a *ngIf="pagina-1 != paginador.number" class="page-link" [routerLink]="[entidad, pagina-1,term]">{{pagina}}</a>
    </li> 
    <!-- ultima pagina -->
    <li [ngClass]="paginador.last?' disabled page-item': 'page-item'">
      <a class="page-link" [routerLink]="[entidad, paginador.totalPages-1,term]">Última</a>
    </li>
     <!-- siguiente -->
    <li class="page-item" *ngIf="paginador.number < paginador.totalPages-1">
      <a class="page-link" [routerLink]="[entidad, paginador.number+1,term]">&raquo;</a>
    </li>
  </ul>
