<nav  class="navbar navbar-dark  navbar-expand-sm">
    <div class="container-fluid" >
      <a routerLink="/" class="navbar-brand">Angular Frontend</a>
      <button
      *ngIf="authService.isAuthenticated()"
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
        (click)="collapsed = !this.collapsed"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        id="navbarSupportedContent"
        [ngClass]="{ collapse: collapsed, 'navbar-collapse': true }"
      >
        <!-- right nav menus -->
        <ul  *ngIf="authService.isAuthenticated()" class="navbar-nav">
          <li routerLinkActive="active" class="nav-item active rounded">
            <a routerLink="/clientes" class="nav-link"> Clientes </a>
          </li>
          <li  routerLinkActive="active" class="nav-item rounded">
            <a routerLink="/productos" class="nav-link"> Productos </a>
          </li>
          <li *ngIf="authService.tienePerfil('ROLE_ADMIN')" routerLinkActive="active" class="nav-item rounded">
            <a routerLink="/usuarios" class="nav-link">Usuarios</a>
          </li>
          <li routerLinkActive="active" class="nav-item rounded">
            <a routerLink="/facturacion" class="nav-link">Facturacion</a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          <li *ngIf="authService.isAuthenticated()" class="mt-1">
            <i class="fas fa-user mr-1"></i>
            <span class="mr-1"> {{ authService.usuario.username }} </span>
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="icon-button with a menu">
              <i class="fas fa-caret-down"></i>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>
                <i class="fas fa-sign-out-alt pr-2"></i>
                <a (click)="logout()"> Cerrar sesión</a>
              </button>
            </mat-menu>
          </li>
        </ul>
      </div>
    </div>
  </nav>