/* a{
    color: white;
} */
nav,.navbar{
    /* background-color: #47B0E2; */
    background-color:#02202F;
    color: white;
}
.navbar-brand{
  font-family: PlutoBlack;
}

::ng-deep .mat-menu-trigger{
  border-width: 0;
  background-color: white;
}

/* Navbar responsive */
#mainNavbar{
  background-color:#02202F ;
  color: white;
}
nav {
  position: sticky;
  top: -2px;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.navbar {
  margin-bottom: 2px !important;
}

.active {
  background:hsl(202, 67%, 59%,0.2); color:#000;
}