<app-detalle-producto *ngIf="productoSeleccionado" [producto]="productoSeleccionado"></app-detalle-producto>
<div class="card border-primary mb-3">
    <div class="card-body text-primary">
      <h5 class="card-title">
        Listado de {{ entidad }}
      </h5>
      <button *ngIf="authService.tienePerfil('ROLE_ADMIN')"  type="button" [routerLink]="['/crearProductos/']"  class="btn btn-primary"><i class="fas fa-user-plus"></i> Crear {{ entidad }}</button>
     <div *ngIf="productos?.length == 0" class="mt-2 alert alert-info">
         No hay registros en la base de datos
     </div>
      
     <div class="row">
       <div class="col-md-12">
        <div class="input-group mt-3">
           <input [(ngModel)]='nombreProductoBuscar' type="text" class="form-control" placeholder="Buscar el producto por su nombre" aria-label="Recipient's username" aria-describedby="basic-addon2">
           <div class="input-group-append">
             <button (click)="activarPaginacionBusqueda()" class="btn btn-outline-secondary" type="button">Buscar</button>
           </div>
          </div>
       </div>
     </div>
     <div class="table-responsive">
      <table *ngIf="productos?.length!>0" class="table table-bordered table-striped mt-4">
        <thead>
          <tr class="text-center">
            <th>Foto</th>
            <th>Codigo</th>
            <th>Nombre</th>
            <th>Valor Unitario</th>
            <th>Estado</th>
            <th *ngIf="authService.tienePerfil('ROLE_ADMIN')">
              Editar
            </th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let producto of productos">
            <td class="text-center">
              <img *ngIf="producto?.foto"
               (click)="abrirModal(producto)" src="http://localhost:8080/sitiapp/productos/uploads/img/{{ producto?.foto }}" 
               alt="Foto perfil" class="img-thumbnail rounded"  
               style="width: 64px; cursor: pointer;"
               >
  
               <img *ngIf="!producto?.foto"
               (click)="abrirModal(producto)" src="http://localhost:8080/images/no-image.png" 
               alt="sin foto" class="img-thumbnail rounded"  
               style="width: 64px; cursor: pointer;"
               >
              </td>
            <td>{{ producto.id}}</td>
            <td>{{ producto.nombre}}</td>
            <td>{{ producto.valor_unitario}}</td>
            <td>{{ producto.estado}}</td>
            <td class="text-center" *ngIf="authService.tienePerfil('ROLE_ADMIN')">
              <button type="button" [routerLink]="['/editProductos/',producto.id]" class="btn btn-primary"><i class="fas fa-edit"></i></button>
            </td>
        </tbody>
      </table>
      <span>Número de registros: {{ paginador?.totalElements }}</span>
        <app-paginator *ngIf="paginador && bandmostrarpaginacion==true" [paginador]="paginador" [entidad]="'/productos/page'" [term]="paramNombrebuscado"></app-paginator>
      </div>
    </div>
  </div>
