<app-detalle *ngIf="bandClienteEncontrado" [cliente]="cliente"></app-detalle>

<div id="containercard" class="mt-5">
<div class="d-flex justify-content-end">
  <a [routerLink]="['/clientes']" class="btnvolver btn btn-light d-flex justify-content-end">&laquo; Volver</a>
</div>
<div class="card mt-1">
    <div class="card-header">Facturacíon</div>
    <div class="card-body">
        <form [formGroup]="form">
            <div class="row">
                <div class="col-md-12">
                  <label>Tipo de Identificación <span>(*)</span></label>
                  <select class="form-control" formControlName="tipoIdentificacion"  [ngClass]="{ 'is-invalid': submitted &&f.tipoIdentificacion.errors }">
                    <option *ngFor="let tipoiden of tipoIdentificaciones" [ngValue]="tipoiden">{{tipoiden.descripcion}}</option>
                  </select>
                  <div *ngIf="submitted && f.tipoIdentificacion.errors" class="invalid-feedback">
                    <div *ngIf="f.tipoIdentificacion.errors.required">Campo requerido</div>
                </div>
                 

                </div>

                <div class="col-md-12">
                  <label for="identificacion">Identificacion <span>(*)</span></label>
                  <input type="text" name="identificacion" class="form-control" formControlName="identificacion" [ngClass]="{ 'is-invalid': submitted &&f.identificacion.errors }">
                  <div *ngIf="submitted && f.identificacion.errors" class="invalid-feedback">
                    <div *ngIf="f.identificacion.errors.required">Campo requerido</div>
                </div>
                  
                </div>

              </div>
     
              <div class="row mt-4">
                <div class="col-md-4"></div>
                <div class="col-md-4 d-flex justify-content-center">
                  <button (click)="Buscar()" type="submit"
                    class="btn  btn-primary rounded btnsubmit" [disabled]="subiendoDatos"><i class="fas fa-save"></i> Buscar Cliente
                  </button>
                </div>
                <div class="col-md-4"></div>
              </div>
        </form>
    </div>
</div>
</div>