<div class="card">
    <div class="card-body">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-md-12">
                    <i class="fas fa-envelope pr-2"></i>
                    <label>Usuario</label>
                    <input type="text" class="form-control" formControlName="username"
                        [ngClass]="{ 'is-invalid': submitted &&f.username.errors }">
                    <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                        <div *ngIf="f.username.errors.required">Campo requerido</div>
                        <div *ngIf="f.username.errors.pattern">correo invalido</div>
                    </div>
                </div>
            </div>
            <div class="row pt-2">
                <div class="col-md-12">
                    <i class="fas fa-unlock-alt pr-2"></i>
                    <label> Contraseña</label>
                    <input type="password" class="form-control" formControlName="password"
                        [ngClass]="{ 'is-invalid': submitted &&f.password.errors }">
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">Campo requerido</div>
                    </div>
                </div>
            </div>
            <div class="row pt-2">
                <div class="col-md-12 mt-2">
                    <button type="submit" class="btn btn-block">Ingresar</button>
                </div>
            </div>     
        </form>
    </div>
</div>
