.btn{
    background-color: #F49B6C;
    color:white;
    font-size: 1rem;
    font-family:plutoBold;
}
i{
    color: #F49B6C;
}
label{
    font-family: PlutoMedium;
    font-size: 14px;
    color:#02202F;
}
.card{
    border-radius: 10px;
}