.card-header{
    /* background-color: #47B0E2; */
    background-color: white;
    color: #47B0E2;
    font-family: plutoBold;
}
.btnvolver{
    background-color: hsl(199, 73%, 58%);
    color: white;
    font-family: plutoRegular;
    font-size: 14px;
}
.btnvolver:hover{
    background-color: hsl(199, 54%, 52%);
}
.btn{
    font-family: PlutoMedium;
}
label{
    font-family: PlutoMedium;
    color: #47B0E2;
}
mat-form-field{
    width: 50%;
}
table{
    width: 100%;
}
.btn{
    font-size: 14px;
}