<div class="d-flex justify-content-end">
    <a [routerLink]="['/clientes']" class="btnvolver btn btn-light d-flex justify-content-end">&laquo; Volver</a>
  </div>
<div class="card mt-1">
    <div class="card-header">{{ titulo }}</div>
    <div class="card-body">
        <div class="row" *ngIf="factura.cliente">
            <div class="col-md-6">
                <label>Identificacion</label>
                <input type="text" class="form-control" value="{{ factura.cliente.identificacion}}" disabled>

            </div>
            <div class="col-md-6">
                <label for="razon">Razón Social</label>
                <input type="text" class="form-control" value="{{ factura.cliente.razon_social}}" disabled>

            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-12">
                <!-- <form> -->
                    <div class="row">
                        <div class="col-md-6 mt-2">
                            <div class="input-group">
                                <input [(ngModel)]='findproductoid' type="number" class="form-control"
                                placeholder="Buscar producto por codigo" aria-label="Recipient's username"
                                aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button  (click)="buscarProductoid()" [disabled]="findproductoid==''"
                                    class="btn btn-outline-secondary" type="button">Buscar</button>
                            </div>
                            </div>
                           
                        </div>
                        <div class="col-md-6">
                            <mat-form-field style="width: 100%;">
                                <mat-label>Buscar porducto por nombre</mat-label>
                                <input type="text" aria-label="Productos" matInput [formControl]="autocompleteControl"
                                    [matAutocomplete]="auto">
                                <mat-autocomplete #auto="matAutocomplete" [displayWith]="mostrarNombre"
                                    (optionSelected)="seleccionarProducto($event)">
                                    <mat-option *ngFor="let producto of productosFiltrados | async" [value]="producto">
                                        {{producto.nombre}}
                                    </mat-option>
                                </mat-autocomplete>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="alert alert-info my-4" *ngIf="factura.facturadetalle.length==0">
                        Agrege al menos un producto para crear la factura
                    </div>
                    <div class="table-responsive">
                        <table class="table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Código</th>
                                    <th>Producto</th>
                                    <th>Precio</th>
                                    <th>Cantidad</th>
                                    <th>Total</th>
                                    <th>Eliminar</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of factura.facturadetalle">
                                    <td>{{ item.producto?.id }}</td>
                                    <td>{{ item.producto?.nombre }}</td>
                                    <td>{{ item.producto?.valor_unitario }}</td>
                                    <td style="width: 20%;"> <input type="number" class="form-control"
                                            value="{{item.cantidad}}"
                                            (change)="actualizarCantidad(item.producto?.id,$event)"> </td>
                                    <td>{{item.calcularImporte()}}</td>
                                    <td style="width: 5%;" class="text-center"><button class="btn btn-danger btn-sm"
                                            type="button" (click)="eliminarItemFactura(item.producto?.id)">x</button>
                                    </td>
                                </tr>
                            </tbody>

                        </table>
                    </div>
                    <h5 class="float-right" *ngIf="factura.facturadetalle.length > 0">Gran Total: <span
                            class="badge badge-secondary">{{factura.calcularGranTotal()}}</span></h5>
                    <div class="form-group mt-3">
                        <button (click)="create()" class="btn btn-success" type="submit"
                            [disabled]="factura.facturadetalle.length == 0 ">Crear Factura</button>
                    </div>
                <!-- </form> -->
            </div>
        </div>
    </div>
</div>