
<div id="containercard">
  <div class="d-flex justify-content-end">
    <a [routerLink]="['/productos']" class="btnvolver btn btn-light d-flex justify-content-end">&laquo; Volver</a>
  </div>
<div class="card mt-1">
  <div *ngIf="!bandeditar" class="card-header">Crear Producto</div>
  <div *ngIf="bandeditar" class="card-header">Editar Producto</div>
 
    <div class="card-body">
      <form [formGroup]="form">
        <!-- Nombre y Apellido -->
        <div class="row">
          <div class="col-md-12">
            <label for="nombre">Nombre <span>(*)</span></label>
            <input type="text" name="nombre" class="form-control" formControlName="nombre" [ngClass]="{ 'is-invalid': submitted &&f.nombre.errors }">
            
            <div *ngIf="submitted && f.nombre.errors" class="invalid-feedback">
              <div *ngIf="f.nombre.errors.required">Campo requerido</div>
          </div>

          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <label for="valor_unitario">Valor_unitario <span>(*)</span></label>
            <input type="text" name="valor_unitario" class="form-control" formControlName="valor_unitario" [ngClass]="{ 'is-invalid': submitted &&f.valor_unitario.errors }">
            <div *ngIf="submitted && f.valor_unitario.errors" class="invalid-feedback">
              <div *ngIf="f.valor_unitario.errors.required">Campo requerido</div>
          </div>
          
          </div>
        </div>

        <div class="row">
            <div class="col-md-12">
              <label for="estado">Estado <span>(*)</span></label>
              <input type="text" name="estado" class="form-control" formControlName="estado" [ngClass]="{ 'is-invalid': submitted &&f.estado.errors }">
              <div *ngIf="submitted && f.estado.errors" class="invalid-feedback">
                <div *ngIf="f.estado.errors.required">Campo requerido</div>
            </div>

            </div>
          </div>
  
  
        <div class="row mt-4">
           <!-- <div class="col-md-5"></div> -->
          <div class="col-md-4"></div>
            <div class="col-md-4 d-flex justify-content-center">

            <button *ngIf="!producto.id else elseBlock " (click)="create()" type="submit"
              class="btn  btn-primary rounded btnsubmit" [disabled]="subiendoDatos"><i class="fas fa-save"></i> Enviar Datos
            </button>
            <ng-template #elseBlock>
              <button (click)="update()" type="submit"
                class="btn   btn-primary rounded  btnsubmit" [disabled]="subiendoDatos"><i class="fas fa-save"></i> Editar Datos
              </button>
            </ng-template>
            <!-- <mat-spinner class="spinner mt-1" *ngIf="cargando" [diameter]="50"></mat-spinner> -->
          </div>
          <div class="col-md-4"></div>
        </div>

          <!-- <div class="col-md-4"></div>
        </div> -->
  
      </form>
    </div>
  </div>
</div>