/* You can add global styles to this file, and also import other style files */
@import '~ngx-toastr/toastr';

html {
    min-height: 100%;
    position: relative;
  }
  body {
    margin: 0;
    margin-bottom: 80px;
    background-color: #47B0E2;

  }
  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    color: white;
  }

  @font-face {
    font-family: plutoBold;
    src: url(assets/fonts/PlutoBold.ttf);
  }
  @font-face {
    font-family:PlutoMedium;
    src: url(assets/fonts/PlutoMedium.ttf);
  }
  @font-face {
    font-family:PlutoBlack;
    src: url(assets/fonts/PlutoBlack.ttf);
  }
  @font-face {
    font-family:PlutoRegular;
    src: url(assets/fonts/PlutoRegular.ttf);
  }
  
