.card-header{
    font-family: plutoBold;
    color:#47B0E2;
}
.btnvolver{
    background-color: hsl(199, 73%, 58%);
    color: white;
    font-family: plutoRegular;
    font-size: 14px;
}
.btnvolver:hover{
    background-color: hsl(199, 54%, 52%);
}
.btnsubmit{
    font-family: plutoBold;
    font-size: 14px;
} 
.card{
    border-radius: 10px;
}
#containercard{
    margin-left: 20%;
    margin-right: 20%;
}
label{
    font-family: plutoRegular;
    font-size: 12px;
}
@media (max-width: 700px) {
    #containercard {
        margin-left: 10%;
        margin-right: 10%;;
    }
    .btnsubmit{
        font-size: 12px;
    }
  }