<div id="containercard">
  <div class="d-flex justify-content-end">
    <a [routerLink]="['/usuarios']" class="btnvolver btn btn-light d-flex justify-content-end">&laquo; Volver</a>
  </div>
<div class="card mt-1">
    <div *ngIf="!bandeditar" class="card-header">Crear Usuario</div>
    <div *ngIf="bandeditar" class="card-header">Editar Usuario</div>
    <div class="card-body">
      <form [formGroup]="form" autocomplete="off">
        <!-- Nombre y Apellido -->
        <div class="row">
          <div class="col-md-6">
            <label for="nombre">Nombre <span>(*)</span></label>
            <input type="text" name="nombre" class="form-control" formControlName="nombre" [ngClass]="{ 'is-invalid': submitted &&f.nombre.errors }">
            <div *ngIf="submitted && f.nombre.errors" class="invalid-feedback">
                <div *ngIf="f.nombre.errors.required">Campo requerido</div>
            </div>
          </div>

            <div class="col-md-6">
              <label for="apellido">Apellido <span>(*)</span></label>
              <input type="text" name="apellido" class="form-control" formControlName="apellido" [ngClass]="{ 'is-invalid': submitted &&f.apellido.errors }">
              <div *ngIf="submitted && f.apellido.errors" class="invalid-feedback">
                  <div *ngIf="f.apellido.errors.required">Campo requerido</div>
              </div>
            </div>
          </div>

          <div *ngIf="!bandeditar" class="row">
            <div class="col-md-6">
              <label for="nombreusuario">Usuario <span>(*)</span></label>
              <input type="text"   name="nombreusuario" class="form-control" formControlName="nombreusuario" [ngClass]="{ 'is-invalid': submitted &&f.nombreusuario.errors }">
              <div *ngIf="submitted && f.nombreusuario.errors" class="invalid-feedback">
                  <div *ngIf="f.nombreusuario.errors.required">Campo requerido</div>
              </div>
            </div>

            <div  class="col-md-6">
              <label for="contrasena">Contraseña <span>(*)</span></label>
              <input type="password" name="contrasena" class="form-control" formControlName="contrasena" [ngClass]="{ 'is-invalid': submitted &&f.contrasena.errors }" autocomplete="off">
              <div *ngIf="submitted && f.contrasena.errors" class="invalid-feedback">
                  <div *ngIf="f.contrasena.errors.required">Campo requerido</div>
              </div>
            </div>
          </div>

        <div class="row">
            <div class="col-md-12">
              <label>Tipo de Perfil <span>(*)</span></label>
              <select [compareWith]="compararTipoId" class="form-control" formControlName="perfil" [ngClass]="{ 'is-invalid': submitted &&f.perfil.errors }"  >
                <option *ngFor="let tipoperfil of tiposPerfiles" [ngValue]="tipoperfil">{{tipoperfil.nombre}}</option>
              </select>
              <div *ngIf="submitted && f.perfil.errors" class="invalid-feedback">
                <div *ngIf="f.perfil.errors.required">Campo requerido</div>
              </div>
        
            </div>
          </div>

        
  
  
        <div class="row mt-4">
          <div class="col-md-4"></div>
          <div class="col-md-4 d-flex justify-content-center">
            <button *ngIf="!usuario.id_usuario else elseBlock " (click)="create()" type="submit"
              class="btn  btn-primary rounded btnsubmit" [disabled]="subiendoDatos"><i class="fas fa-save"></i> Enviar Datos
            </button>
            <ng-template #elseBlock>
              <button (click)="update()" type="submit"
                class="btn btn-primary rounded btnsubmit" [disabled]="subiendoDatos"><i class="fas fa-save"></i> Editar Datos
              </button>
            </ng-template>
            <!-- <mat-spinner class="spinner mt-1" *ngIf="cargando" [diameter]="50"></mat-spinner> -->
          </div>
          <div class="col-md-4"></div>
        </div>
  
  
      </form>
    </div>
  </div>
</div>