<app-detalle-usuario *ngIf="usarioSeleccionado" [usuario]="usarioSeleccionado"></app-detalle-usuario>

<div class="card border-primary mb-3">
  <div class="card-body text-primary">
    <h5 class="card-title">Listado de {{ entidad }}</h5>
    <button *ngIf="authService.tienePerfil('ROLE_ADMIN')" type="button" [routerLink]="['/crearUsuarios/']"
      class="btn btn-primary"><i class="fas fa-user-plus"></i> Crear {{ entidad }}</button>
    <div *ngIf="usuarios?.length == 0" class="mt-2 alert alert-info">
      No hay registros en la base de datos
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="input-group mt-3">
          <input [(ngModel)]='nombreUsarioBuscar' type="text" class="form-control"
            placeholder="Buscar usuario por su username" aria-label="Recipient's username"
            aria-describedby="basic-addon2">
          <div class="input-group-append">
            <button (click)="activarPaginacionBusqueda()" class="btn btn-outline-secondary"
              type="button">Buscar</button>
          </div>
        </div>
      </div>
    </div>

    <div class="table-responsive">
      <table *ngIf="usuarios?.length!>0" class="table table-bordered table-striped mt-4">
        <thead>
          <tr class="text-center">
            <th>Foto</th>
            <th>Username</th>
            <th>Perfil</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Fecha de Creación</th>
            <th *ngIf="authService.tienePerfil('ROLE_ADMIN')">
              Editar
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let usuario of usuarios">
            <td class="text-center">
              <img *ngIf="usuario?.foto" (click)="abrirModal(usuario)"
                src="http://localhost:8080/sitiapp/usuarios/uploads/img/{{ usuario?.foto }}" alt="Foto perfil"
                class="img-thumbnail rounded" style="width: 64px; cursor: pointer;">

              <img *ngIf="!usuario?.foto" (click)="abrirModal(usuario)" src="http://localhost:8080/images/no-image.png"
                alt="sin foto" class="img-thumbnail rounded" style="width: 64px; cursor: pointer;">
            </td>
            <td>{{ usuario.username}}</td>
            <td>{{ usuario.perfil?.nombre}}</td>
            <td>{{ usuario.nombre}}</td>
            <td>{{ usuario.apellido}}</td>
            <td>{{ usuario.fecha_registro}}</td>
            <td class="text-center" *ngIf="authService.tienePerfil('ROLE_ADMIN')">
              <button type="button" [routerLink]="['/editUsuarios/',usuario.id_usuario]" class="btn btn-primary"><i
                  class="fas fa-edit"></i></button>
            </td>
        </tbody>
      </table>
      <span>Número de registros: {{ paginador?.totalElements }}</span>
      <app-paginator *ngIf="paginador && bandmostrarpaginacion==true" [paginador]="paginador"
        [entidad]="'/usuarios/page'" [term]="paramNombrebuscado"></app-paginator>
    </div>
  </div>
</div>