<div class="abrir-modal animacion fadeIn" *ngIf="modalService.modal">
  <div class="modal" tabindex="-1" role="dialog" style="display: block;">
    <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{ titulo }}</h5>
          <button (click)="cerrarModal()" type="button" class="close" data-dismiss="modal" aria-label="Close">
            <i class="fas fa-window-close"></i>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-6 mt-4">

              <ul class="list-group mb-3">

                <li class="list-group-item active">{{ cliente?.razon_social }}</li>
                <li class="list-group-item"> <span>id:</span> {{ cliente?.id }}</li>
                <li class="list-group-item"> <span>Número de Identificación:</span> {{ cliente?.identificacion }}</li>
                <li class="list-group-item"><span>Tipo de identificación:</span> {{
                  cliente?.tipo_identificacion?.descripcion }}</li>
                <li class="list-group-item"><span>Fecha de registro:</span> {{ cliente?.fecha_registro}}</li>

              </ul>
            </div>
            <div class="col-md-6">
              <div class="text-center">
                <img *ngIf="cliente?.foto" src="http://localhost:8080/sitiapp/clientes/uploads/img/{{ cliente?.foto }}"
                  alt="Foto perfil" class="img-thumbnail img-fluid rounded fotoperfil">
                <img *ngIf="!cliente?.foto" src="http://localhost:8080/images/no-image.png" alt="Foto perfil"
                  class="rounded fotoperfil img-fluid">
              </div>
              <div *ngIf="authService.tienePerfil('ROLE_ADMIN')">
                <div *ngIf="progreso>0" class="progress" style="height: 20px;">
                  <div class="progress-bar progress-bar-striped" role="progressbar" [ngStyle]="{width:progreso+'%'}"
                    attr.aria-valuenow="{{ progreso }}" attr.aria-valuemin="0" aria-valuemax="100">
                    {{ progreso }}%
                  </div>
                </div>
                <div class="input-group">
                  <div class="custom-file">
                    <input (change)="seleccionarFoto($event)" type="file" class="custom-file-input">
                    <label class="custom-file-label">{{ labelinputfoto }}</label>
                  </div>
                  <div class="input-group-append">
                    <button (click)="subirFoto()" [disabled]="!fotoSeleccionada" class="btn btn-success"
                      type="button"><i class="fas fa-image"></i> Subir foto</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <button type="button" class="btn btn-success btn-sm" [routerLink]="['/facturas/form/',cliente?.id]"><i
                  class="fas fa-plus-square"></i> crear factura</button>
              <div class="alert alert-info my-4" *ngIf="cliente?.facturas?.length==0">
                No hay facturas asignadas para el cliente {{ cliente?.razon_social }}
              </div>
              <div class="table-responsive">
                <table class="table table-bordered table-striped my-4" *ngIf="cliente?.facturas?.length!>0">
                  <thead>
                    <tr>
                      <th>folio</th>
                      <th>fecha</th>
                      <th>total</th>
                      <th>detalles</th>
                      <th *ngIf="authService.tienePerfil('ROLE_ADMIN')">eliminar</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let factura of cliente?.facturas">
                      <td>{{ factura.consecutivo }}</td>
                      <td>{{ factura.createAt }}</td>
                      <td>{{ factura.total }}</td>
                      <td><button class="btn btn-primary btn-sm" type="button"
                          [routerLink]="['/facturas',factura.consecutivo]"><i class="fas fa-edit"></i></button></td>
                      <td *ngIf="authService.tienePerfil('ROLE_ADMIN')"><button class="btn btn-danger btn-sm" type="button" (click)="delete(factura)"><i
                            class="fas fa-trash-alt"></i></button></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button (click)="cerrarModal()" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>