.card-header{
    font-family: plutoBold;
    font-size: 20px;
    color: #47B0E2;
    background-color:white ;
}

.headersmall{
    background-color: #47B0E2;
    color: white;
    font-family: plutoRegular;
    font-size:14px;
}
.btn{
    font-family: plutoBold;
    font-size: 14px;
}
a{
    color:#47B0E2 ;
}