<div  class="card bg-light " *ngIf="factura">
    <div class="d-flex justify-content-end">
        <a [routerLink]="['/clientes']" class="btn btn-light">&laquo; Volver</a>
    </div>
    <div id="htmlData">
    <div class="card-header">{{ titulo }}</div>
    <div class="card-body">

        <ul class="list-group my-2">
            <li class="list-group-item headersmall">Datos del Cliente</li>
            <li class="list-group-item"><b>Nombre: </b> {{ factura.cliente?.razon_social }}</li>
            <li class="list-group-item"><b>Apellido: </b> {{ factura.cliente?.identificacion }}</li>
        </ul>
        <ul class="list-group my-2">
            <li class="list-group-item headersmall">Datos de la Factura</li>
            <li class="list-group-item"><b>id: </b>{{factura.consecutivo}}</li>
            <li class="list-group-item"><b>Fecha: </b>{{ factura.createAt }}</li> 
        </ul>
        <div class="table-responsive">

        <table class="table table-striped table-hover table-bordered my-3">
               <thead>
                    <tr>
                        <th>codigo</th>
                        <th>producto</th>
                        <th>precio</th>
                        <th>cantidad</th>
                        <th>total</th>
                    </tr>
               </thead>
               <tbody>
                   <tr *ngFor="let item of factura.facturadetalle">
                       <td>{{ item.producto?.id }}</td>
                       <td>{{ item.producto?.nombre }}</td>
                       <td>{{ item.producto?.valor_unitario}}</td>
                       <td>{{ item.cantidad }}</td>
                       <td>{{ item.importe }}</td>
                   </tr>

               </tbody>
                
        </table>
    </div>

        <h5 class="float-right">
            <span>Gran Total: </span> <span class="badge badge-secondary">{{factura.total}} </span>  
          </h5> 

        </div>
    </div>
    <div class="container">
        <button (click)="downloadPDF()" type="button" class="btn btn-primary" ><i class="fas fa-file-pdf"></i> Descargar Reporte</button>
    </div>
</div>
